### Configs, secrets
################################################################################

secret_*

### Build artefacts
################################################################################

## Cargo
/target/
**/*.rs.bk
/target/
**/*.rs.bk

## Tags
tags
TAGS

## Rendered README
README.html


### OS & editors junk
################################################################################

## macOS / OS X
*.DS_Store
*~
.Trash-*

## VScode
.vscode
