### Configs, secrets
################################################################################

secret_*

### Build artefacts
################################################################################

## Cargo
/target/
**/*.rs.bk

## Tags
tags
TAGS

## Rendered README
README.html

## IDEs & editors
# IntelliJ
*.iml
.idea

### OS & editors junk
################################################################################

## macOS / OS X
*.DS_Store
*~
.Trash-*

## VScode
.vscode
