### Configs, secrets
################################################################################

secret_*

### Build artefacts
################################################################################

## Cargo
/target/
**/*.rs.bk

## Tags
tags
TAGS

## Rendered rst files
README.html
CONTRIBUTING.html

## IDEs & editors
# IntelliJ
*.iml
.idea

### OS & editors junk
################################################################################

rusty-tags.vi

## macOS / OS X
*.DS_Store
*~
.Trash-*

## VScode
.vscode
